li {
  display: inline;
}

ul {
  list-style: none;
  text-align: center;
  background-color: black;
  padding: 30px;
}

ul > li > a {
  text-decoration: none;
}

li > a:hover {
  color: aquamarine;
}
