* {
  margin: 0%;
  padding: 0%;
}

li {
  display: inline;
}

ul {
  list-style: none;
  text-align: center;
  background-color: black;
  padding: 30px;
}

ul > li > a {
  text-decoration: none;
}

li > a:hover {
  color: aquamarine;
}

.logo img {
  height: 70px;
  position: relative;
  top: 5vh;
  right: 40vw;
}
.username {
  color: brown;
  position: relative;
  bottom: 3vh;
  left: 40vw;
}
